@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-champagne-pink-500/20 via-white to-pink-300/20 min-h-screen text-mountbatten-400;
  }
}
